<h1>Services</h1>

<table class='table table-striped'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>State</th>
  </tr>
  {{#each service in controller}}
    <tr>
      <td>{{service.id}}</td>
      <td>
        {{#linkTo 'services.show' service}}{{service.name}}{{/linkTo}}
      </td>
      <td>{{service.state}}</td>
    </tr>
  {{/each}}
</table>
