<h1>Services</h1>

<table class='table table-striped'>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>State</th>
  </tr>
  {{#each service in controller}}
    {{view Reveille.ServiceView contentBinding='service'}}
  {{/each}}
</table>
